.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.a:hover{
    transform: scale(1.5);
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
    background-color: #f5f8ff;
    margin: 0%;
    padding: 0%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px;
}
.Menu-items{
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    padding: 10px;
    font-size: 22px;
    color: black;
}

.cart-image{
    vertical-align: middle;
    height: 22px;
}
.Banner{
    display: flex;
    justify-content: space-between;
    margin: 120px 150px;
}
.image-banner img{
    width: 100%;
}
.Banner p{
    text-align: left;
}
.h1-container1{
    font-size: 60px;
    line-height: 0.5;
}
.h1-container2-1{
    font-size: 50px;
}
.h1-container2{
    font-size: 50px;
    line-height: 0.1;
}
.h1-container3{
    font-size: 68px;
    line-height: 0.1;
}
.position1{
    position: absolute;
    left: 600px;
    top:4000px;
    z-index: 1;
}

.position2{
    position: absolute;
    left: 500px;
    top:4100px;
    z-index: 1;
}
.font-color{
    color: #E95A08;
}
.p-container1, li{
    font-size: 22px;
}
.Plants-Section h1,p{
    text-align: center;
}
.card{
    max-width: 270px;
    padding-bottom: 30px;
    line-height: 4px;
    margin: 0 auto;
}
.card img{
    width: 100%;
}
.btn-primary{
    background-color: #E95A08;
    color: white;
    font-size: 16px;
    padding: 15px 80px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover{
    background-color: #943a05;
}
.button-position{
    position: absolute;
    left: 1143px;
    top:4108px;
    z-index: 1;
}
.item{
    padding: 50px 150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.Plants-Lover-Section{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 210.12px;
    max-width: 1140px;
}
.Plants-Lover-Section img{
    padding: 60px;
}
.badge{
    position: absolute;
    left: 735px;
    top: 1950px;
    z-index: 1;
    animation: spin 4s linear infinite;
    filter: drop-shadow(3px 10px 4px #b8babf);
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.Latest-Deals-section{
    text-align: center;
}

.Latest-Deals-Images{
    display: flex;
    justify-content: center;
}
.join-section{
    padding: 120px 0px 0px 0px;
}
.grid-1{
    display: grid;
}

.grid-1 img{
    width: 367px;
    padding: 10px;
    border-radius: 25px;
    filter: brightness(0.6);
}
.p-position1{
    left: 480px;
    top: 3247.94px;
    z-index: 1;
}
.a-position1{
    left: 530px;
    top: 3293.94px;
    z-index: 1;
}

.p-position2{
    left: 480px;
    top: 3473.94px;
    z-index: 1;
}
.a-position2{
    left: 530px;
    top: 3519.94px;
    z-index: 1;
}

.p-position3{
    left: 940px;
    top: 3310px;
    z-index: 1;
}
.a-position3{
    left: 1050px;
    top: 3410px;
    z-index: 1;
}
.Title-and-unordered-list ul li{
    line-height: 1;
    font-size: 20px;
    padding: 5px;
}
.grid-1 a{
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    color: white;
}
.grid-1 p{
    font-size: 20px;
    position: absolute;
    color: white;
}

.grid-2 img{
    width: 753px;
    padding: 10px;
    border-radius: 25px;
    filter: brightness(0.6);
}
.grid-2 a{
    font-size: 28px;
    font-weight: 600;
    position: absolute;
    color: white;
}
.grid-2 p{
    font-size: 40px;
    position: absolute;
    color: white;
}

.join-section img{
    width: 100%;
}

input[type=email] {
  width: 644px;
  padding: 14px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
}

.footer-logo p{
    text-align: left;
    color: #7d7e7f;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 160px;
}
.footer-menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-menu a{
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    color: #7d7e7f;
}
.icons img{
    padding: 0px 10px;
    vertical-align: middle;
}